<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleName</key>
    <string>Fuse</string>
    <key>CFBundleDisplayName</key>
    <string>Fuse</string>
    <key>CFBundleIdentifier</key>
    <string>com.unsafe9.fuse</string>
    <key>CFBundleExecutable</key>
    <string>Fuse</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>CFBundleIconFile</key>
    <string>AppIcon</string>
    <key>CFBundleShortVersionString</key>
    <string>__VERSION__</string>
    <key>CFBundleVersion</key>
    <string>__VERSION__</string>
    <key>LSMinimumSystemVersion</key>
    <string>13.0</string>
    <key>LSUIElement</key>
    <true/>
    <key>NSAppleScriptEnabled</key>
    <true/>
    <key>OSAScriptingDefinition</key>
    <string>Fuse.sdef</string>
    <key>NSHumanReadableCopyright</key>
    <string>© 2026 unsafe9</string>
</dict>
</plist>
